# Configuração do envio de e-mails (SMTP da hospedagem)
SMTP_HOST=smtp.coopstarexpress.com.br
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=contato@coopstarexpress.com.br
SMTP_PASS=sua-senha-aqui
MAIL_TO=contato@coopstarexpress.com.br
MAIL_TO_ALT=coopstar_express@hotmail.com
MAIL_FROM=contato@coopstarexpress.com.br

# URL pública do site (usada no sitemap/robots)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
